# Logs
logs
*.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

# Rust
debug/
target/
**/*.rs.bk
*.pdb

# Tauri
**/gen

# Others
workspace.md