[package]
name = "tauri-plugin-prevent-default"
description = "Disable default webview shortcuts"
version = "0.4.0"
homepage = "https://github.com/ferreira-tb/tauri-plugin-prevent-default"
repository = "https://github.com/ferreira-tb/tauri-plugin-prevent-default"
documentation = "https://docs.rs/tauri-plugin-prevent-default"
authors = ["Andrew Ferreira <andrew.shien2@gmail.com>"]
license = "MIT"
edition = "2021"
rust-version = "1.70"
keywords = ["plugin", "tauri", "tauri-plugin"]
links = "tauri-plugin-prevent-default"

[package.metadata.docs.rs]
rustc-args = ["--cfg", "docsrs"]
rustdoc-args = ["--cfg", "docsrs"]

[dependencies]
bitflags = "2.6"
itertools = "0.13"
tauri = "2.0.0-rc.3"
thiserror = "1.0"

[dependencies.ahash]
version = "0.8"
optional = true

[dependencies.serde]
version = "1.0"
features = ["derive"]

[dependencies.strum]
version = "0.26"
features = ["derive"]

[dependencies.tracing]
version = "0.1"
optional = true

[build-dependencies.tauri-plugin]
version = "2.0.0-rc.3"
features = ["build"]

[features]
ahash = ["dep:ahash"]
tracing = ["dep:tracing"]
